<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.Transactions" switchValue="Information">
				<listeners>
<!--					<add name="tx"-->
<!--                     type="System.Diagnostics.XmlWriterTraceListener"-->
<!--                     initializeData="c:\temp\tx.log" />-->
					
<!--					<add name="tx2"-->
<!--						 type="System.Diagnostics.DefaultTraceListener"-->
<!--						 />-->
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>